    form {
        width: 400px;
        height: 200px;
        border: 1px solid grey;
        border-radius: 12px;
        box-shadow: 2px  rgb(82, 73, 73);
    }

    input {
        border: none;
        border-bottom: 1px solid grey;
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 20px;

    }

    

    label {
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    #submit {
        border-radius: 15px;
        color: rgb(50, 131, 197);
        width: 100px;
        height: 60px;
        background-color: rgb(80, 80, 206);
        margin-left: 140    px;
        margin-top: -40px;
        
    }

    #submit:hover {
        background-color: rgb(54, 54, 175);
    }

